CMakeCache.txt
86x64
CMakeFiles/
*.old
Makefile
cmake_install.cmake
*~
*.o
*.s
*.dmp
a.ot
a.out
*.asm
macho
*.out
*.dylib
tst/
*.a
c/macho-transform
c/macho-insert
c/macho
c/uleb-test
c/macho-noop
c/print-wrapper-32
c/sleb-test
c/print-32-new2
c++/macho
c++/a.out
mach-o
dyld/