CMakeCache.txt
CMakeFiles/
*.old
Makefile
cmake_install.cmake
*~
*.o
*.s
*.dmp
a.out
macho
*.out
*.dylib
tst/
*.a
dyld/
extern/xed/
trash/
src/abiconv/abigen
install_manifest.txt
_deps/
CTestTestfile.cmake
Testing/