*~
*.o
lex.yy.c
cool
lexer-main
parser-main
semant-main
test*.c
c.tab.cpp
c.tab.hpp
.DS_Store
cgen-main*
*.output
*.c
*.lab
*.z80
*.s
*.8xp
!demo/**.cmake
*.cmake
*.out
*.stderr
*.stdout
zc-lexer.cpp
zc-parser.[ch]pp
*.bin
*.tmp
Makefile
*.diff
CMakeFiles/
*.asm
out
CMakeCache.txt
zc
